* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

h1, h2, h3, h4, a {
  text-decoration: none;
  color: #b3b3b3;
}
.white {
  color: #ffffff;
}

body {
  min-width: 550px;
  min-height: 90px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.upgrade {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 70px;
  z-index: 1;
  background-color: rgba(11, 11, 11, 0.8);
  width: calc(100% - 230px);
}

.upgrade .retornos{
  margin-right:780px;
  margin-left: 15px;
}

.upgrade .retornos img{
  justify-content: center;
}
.upgrade .retornos img:first-child{
  margin-right: 10px;
 }

.upgrade .perfil {
  margin-left: 6px;
  margin-right: 10px;
  padding: 3px 1px;
  text-transform: uppercase;
  display: inline-block;
  background: rgba(0, 0, 0, 0.78);
  border-radius: 20px;
}

.upgrade .perfil img{
  border-radius: 50%;
  margin-left: 3px;
}

.upgrade .perfil:hover {
  transition: scale 0.5s;
  transform: scale(1.05);
}

.box_main {
  width: 100%;
  margin-top: 80px;
}

.box_main h2 {
  margin: 10px;
  font-size: 28px;
  color: #ffffff;
}

.box_main h3 {
  margin: 5px 0;
  font-size: 14px;
  color: #ffffff;
}

.box_main h4 {
  font-size: 12px;
}

.box_main .music a {
  display: inline-block;
  padding: 15px;
}

.box_main .nav_bar_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box_main .nav_bar_main li {
  position: relative;
  margin: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.box_main .nav_bar_main li:first-child::after {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 2.5px;
  border-radius: 2px;
  background-color: #1ed760;
}

.box_main .nav_bar_main a:hover {
  transition: color 1s;
  color: #ffffff;
}

.box_main .music .row {
  display: flex;
  flex-wrap: wrap;
}

.box_main .music .box_music {
  position: relative;
  display: inline-block;
  width: calc(100% / 6 - 20px);
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(35, 35, 35);
  text-align: center;
}

.box_main .music .box_music::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  content: '';
  background-color: rgba(76, 76, 76, 0.3);
  display: none;
}

.box_main .music .box_music:hover::before {
  display: inline-block;
}

.box_main .music .box_music::after {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '\f144';
  //font-family: 'Font Awesome 5 Free';
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
  display: none;
}

.box_main .music .box_music:hover::after {
  display: inline-block;
}

.box_main .music .box_music img {
  width: 100%;
}

.box_main .music .recently_played{
  width: content-box;
  margin-left: 7%;
}

.recomendacion_iteracion{
  width:  calc(100% / 3 - 20px);
  display: inline-block;
}
.boton_iteracion{
  width:  calc(100% / 4 - 20px);
  display: inline-block;
}

.tarjeta{
  align-content: center;
  margin-left: 7%;
}
.tarjeta h2{
  display: inline-block;
}
.tarjeta a{
  margin-left: 75%;
  color: #ffffff;
}
