<!--p>ruta-inicio-component works!</p-->
<!--Barra de Usuario-->


<div class="upgrade">
  <div class="retornos">
    <img src="https://img.icons8.com/ios/50/ffffff/circled-chevron-right.png" style="transform: scaleX(-1)"height="30px" width="30px"/>
    <img src="https://img.icons8.com/ios/50/ffffff/circled-chevron-right.png"height="30px" width="30px"/>
  </div>
  <a class="perfil" href="#">
    <img src="assets/icons/perfil.png" height="30px" width="30px">
    <span class="white">  Francisco García M.</span>
  </a>
</div>
<!--Principal-->
<section class="box_main">
  <div class="music">
    <div class="recently_played">
      <h2>¡Buenas Tardes!</h2>
        <div class="recomendacion_iteracion" *ngFor="let recomendacion of arregloRecomendaciones; let i = index">
          <app-boton-recomendacion-inicial [titulo]="recomendacion.titulo"
                               [urlImagen]="recomendacion.urlImagen">
          </app-boton-recomendacion-inicial>
        </div>
      </div>
    <div class="tarjetas" *ngFor="let tarjeta of arregloTarjetas; let i = index">
      <app-tarjeta-recomendacion [tituloTarjeta]="tarjeta.tituloTarjeta"
                                 [arregloPrimeraFila]="tarjeta.contenido">
      </app-tarjeta-recomendacion>
    </div>

  </div>
</section>
