<div class="tarjeta">
  <div class="encabezado"><h2 [textContent]="tituloTarjeta"></h2>
    <p><a>Ver más</a></p><br>
  </div>
  <div class="boton_iteracion" *ngFor="let primeraFila of arregloPrimeraFila; let i = index">
    <app-boton-recomendacion-comun [titulo]="primeraFila.titulo"
                                   [urlImagen]="primeraFila.urlImagen"
                                   [descripcion]="primeraFila.descripcion"
                                   [bordeStyle]="primeraFila.bordeStyle">
    </app-boton-recomendacion-comun>
  </div>
</div>
