* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

h1, h2, h3, h4, a {
  text-decoration: none;
  color: #b3b3b3;
}
.white {
  color: #ffffff;
}

body {
  min-width: 550px;
  min-height: 90px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.upgrade {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 70px;
  z-index: 1;
  background-color: rgba(11, 11, 11, 0.8);
  width: calc(100% - 230px);
}


.upgrade .busqueda{
  background-color: white;
  border-radius: 90px 90px 90px 90px ;
  margin-right: 355px;
  width: 400px;
  visibility: visible;
}
.upgrade .busqueda svg{
  margin-left: 10px;
  width: fit-content;
}

.upgrade .busqueda .inputBusqueda{
  width: 100px;
}
.upgrade .busqueda input:focus{
  outline: none;
}

.upgrade .retornos{
  margin-right:80px;
  margin-left: 15px;
}

.upgrade .retornos img{
  justify-content: center;
}
.upgrade .retornos img:first-child{
  margin-right: 10px;
}

.upgrade .perfil {
  margin-left: 6px;
  margin-right: 10px;
  padding: 3px 1px;
  text-transform: uppercase;
  display: inline-block;
  background: rgba(0, 0, 0, 0.78);
  border-radius: 20px;
}

.upgrade .perfil img{
  border-radius: 50%;
  margin-left: 3px;
}

.upgrade .perfil:hover {
  transition: scale 0.5s;
  transform: scale(1.05);
}

.box_main {
  width: 100%;
  margin-top: 80px;
}
.slide{
  align-content: center;
}

.slide div img{
  height: 100%;
}
.carrusel{
  height: 200px;
}
.tarjetas{
  display: inline-block;
}
.explorar{
  margin-left: 4%;
}
