* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, a {
  text-decoration: none;
  color: #b3b3b3;
}
.white {
  color: #ffffff;
}

body {
  min-width: 550px;
  min-height: 90px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.nav_bar_top {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgb(3, 3, 3);
}

.nav_bar_top a {
  display: block;
}

.nav_bar_top .top .menu svg:first-child {
  fill: #ffffff;
}

.nav_bar_top .top .menu svg,
.nav_bar_top .middle .playlist svg,
.nav_bar_top .bottom .btn_install svg {
  margin-right: 10px;
  vertical-align: middle;
  fill: #b3b3b3;
}

.nav_bar_top li:hover a,
.nav_bar_top li:hover svg,
.nav_bar_top .top .menu li:hover a,
.nav_bar_top .top .menu li:hover svg,
.nav_bar_top .middle .btn_playlist:hover span,
.nav_bar_top .bottom .btn_install:hover svg,
.nav_bar_top .bottom .btn_install:hover span {
  transition: color 1s, fill 1s;
  color: #ffffff;
  fill: #ffffff;
}

.nav_bar_top .middle .btn_playlist:hover .plus {
  transition: background-color 1s;
  background-color: #ffffff;
}

/* nav_bar_top top */
.nav_bar_top .top .logo {
  width: 130px;
  height: 40px;
  margin-bottom: 20px;
}

.nav_bar_top .top .logo-small {
  display: none;
  width: 30px;
  margin: 15px 0 20px 0;
}

.nav_bar_top .top .menu li {
  margin-bottom: 15px;
}

.nav_bar_top .top .menu li:last-child {
  margin-bottom: 20px;
}

.nav_bar_top .top .menu li:first-child {
  position: relative;
}

.nav_bar_top .top .menu li:first-child::before {
  position: absolute;
  content: '';
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 2.5px;
  height: 32px;
  border-radius: 2px;
  //background-color: #1ed760;
}

/* nav_bar_top middle */
.nav_bar_top .middle {
  /* .top 166px + .top li 20px + .bottom 78.719px */
  height: calc(100% - 264.719px);
}

.nav_bar_top .middle .btn_playlist {
  margin: 15px 0;
}

.nav_bar_top .middle .plus {
  width: 32px;
  margin-right: 10px;
  background-color: #b3b3b3;
  vertical-align: middle;
}

.nav_bar_top .middle .playlist {
  /* h4 22px + btn_playlist 62px */
  height: calc(100% - 84px);
  overflow-y: scroll;
}

.nav_bar_top .middle .playlist li {
  margin: 15px 0;
}

/* nav_bar_top bottom */
.nav_bar_top .bottom .btn_install {
  padding-bottom: 10px;
  margin-top: 40px;
  border-bottom: 1px solid #ffffff;
}

.nav_bar_top .bottom .download {
  width: 20px;
}
