* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 550px;
  min-height: 90px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, a {
  text-decoration: none;
  //color: #b3b3b3;
  color: white;
}

.box_recomendacion {
  position: relative;
  display: inline-flex;
  //width: calc(100% / 3 - 20px);
  width: 95%;
  margin: 0px 20px 12px 0px;
  border-radius: 10px;
  background-color: rgb(35, 35, 35);
  text-align: center;
}

.box_recomendacion h6{
  margin-top: 9%;
  display: inline-block;
  margin-left: 10px;
}

.box_recomendacion::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  content: '';
  background-color: rgba(76, 76, 76, 0.3);
  display: none;
}

.box_recomendacion:hover::before {
  display: inline-block;
}

.box_recomendacion::after {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  //content: '\f144';
  //font-family: 'Font Awesome 5 Free';
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
  display: none;
}

.box_recomendacion:hover::after {
  display: inline-block;
}

.box_recomendacion img {
  width:80px;
  height: 80px;
  border-radius: 10px;
}
